body {
    background: url('/static/images/1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.btn-primary {
    background-color: #2196F3;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-size: 1.2em;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    background-color: #1976D2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-control-file {
    border: 2px dashed #2196F3;
    padding: 15px;
    border-radius: 15px;
    transition: border-color 0.3s;
}

.form-control-file:hover {
    border-color: #1976D2;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}
